<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LogTry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>855BB5751E2F6DE90015EE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>855BB58E1E2F6DEA0015EE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>855BB5991E2F6DEA0015EE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
